.download-btn {
    font-size: x-large !important;
}

.techIcon {
    font-size: 50px;
}

.university-logo {
    max-width: 200px;
}

.resumeNav {
    background-color: #dadada;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #0d6efd !important;
}

.fixed-bottom {
    margin-bottom: 10px;
}

.subtext {
    margin: 0;
    font-size: 12px;
}

.lead {
    margin: 0;
}